{{define "Title"}}{{.user.Username}} 创建的全部主题{{end}}
{{define "ContentWidth"}}9{{end}}
{{define "Breadcrumb"}}
<nav aria-label="breadcrumb" role="navigation">
  <ul class="breadcrumb">
  	<li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> 首页</a></li>
  	<li class="breadcrumb-item"><a href="/user/{{.user.Username}}">{{.user.Username}}</a></li>
  	<li class="breadcrumb-item active" aria-current="page">收藏主题</li>
  </ul>
</nav>
{{end}}
{{define "Content"}}
{{$user := .utils.AssertUser .user}}
<div class="content">
	<div class="clearfix"></div>
	<p></p>
	<dl>
		{{range .collects}}
			{{$t := .Topic $.db}}
			{{$creater := $t.Creater $.db }}
			{{$n := $t.Node $.db}}
		<dd class="album">
		<a href="/p/{{.TopicId}}" class="title">{{$t.Title}}</a>
		<div class="space"></div>
		<span>
			<a class="label label-info" href="/node/{{$n.Id}}">{{$n.Name}}</a> • 
			<a href="/user/{{$creater.Username}}"><strong>{{$creater.Username }}</strong></a> • 
			{{formattime $t.CreatedAt}}
		</span>
		<div class="clearfix"></div>
		</dd>
		{{end}}
	</dl>
	<hr>
	{{.pagination.Html .page}}
</div>
{{end}}

{{define "LeftSide"}}{{end}}
{{define "RightSide"}}{{end}}
