{{define "Title"}}{{.user.Username}}{{end}}
{{define "ContentWidth"}}9{{end}}
{{define "Breadcrumb"}}
<nav aria-label="breadcrumb" role="navigation">
	<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> 首页</a></li>
		<li class="breadcrumb-item"><a href="/user/{{.user.Username}}">{{.user.Username}}</a></li>
		<li class="breadcrumb-item active" aria-current="page">新的消息</li>
	</ul>
</nav>
{{end}}
{{define "Content"}}
	<div class="content">
		<a name="topic"></a>
		<h4>有新的回复的文章 
			{{if  eq .user.Username .username }}
		       	<a id="reply_clear" class="btn btn-info btn-small">清空</a>
			{{end}}
		</h4>
		<dl class="replies">
		{{range .comments}}
			<dd>
			<a href="/p/{{.TopicId}}"  >{{.TopicTitle}}</a><br>
			</dd>
		{{end}}
		</dl>
		<hr>
	</div>
	<div class="content">
		<a name="at"></a>
		<h4>最近被AT 
			{{if eq .user.Username .username}}
			<a id="at_clear" class="btn btn-info btn-small">清空</a>
			{{end}}
		</h4>
		<dl class="replies">
		{{if eq .user.Username .username}}
		{{range .ats}}
			<dd>
			<a href="/p/{{.TopicId}}#{{.CommentId}}">{{.User}}AT了你</a><br>
			</dd>
		{{end}}
		{{else}}
		{{range .ats}}
			<dd>
			<a href="/p/{{.TopicId}}#{{.CommentId}}">{{.User}}AT了他</a><br>
			</dd>
		{{end}}
		{{end}}
		</dl>
	</div>
{{end}}
{{define "LeftSide"}}{{end}}
{{define "RightSide"}}{{end}}
