{{define "Title"}}{{.user.Username}} 创建的全部主题{{end}}
{{define "ContentWidth"}}9{{end}}
{{define "Breadcrumb"}}
<ul class="breadcrumb">
  <li><a href="/"><i class="fa fa-home"></i> 首页</a></li>
  <li><a href="/user/{{.user.Username}}">{{.user.Username}}</a></li>
  <li class="active">全部主题</li>
</ul>
{{end}}
{{define "Content"}}
{{$user := .utils.AssertUser .user}}
<div class="content">
  <img src="{{$user.AvatarImgSrc 96}}" class="pull-left">
  <div class="clearfix"></div>
  <p></p>
  <dl>
	{{range .topics}}
	{{$node := .Node $.db}}
	{{$creater := .Creater $.db}}
	<dd class="topic">
      {{if .CommentCount}}
      <a class="label label-pill label-default pull-right" href="/p/{{.Id_.Hex}}">{{.CommentCount}}</a>
      {{end}}
	  <a href="/p/{{.Id_.Hex}}" class="title">{{.Title}}</a>
	  <div class="space"></div>
	  <span>
		<a class="label label-info" href="/node/{{$node.Id}}">{{$node.Name}}</a> •
		<a href="/user/{{$creater.Username}}"><strong>{{$creater.Username}}</strong></a> •
		{{formattime .CreatedAt}}
	  </span>
	  <div class="clearfix"></div>
	</dd>
	{{end}}
  </dl>
  <hr>
  {{.pagination.Html .page}}
</div>
{{end}}

{{define "LeftSide"}}{{end}}
{{define "RightSide"}}{{end}}
