{{define "Title"}}修改密码{{end}}
{{define "ContentWidth"}}9{{end}}
{{define "Breadcrumb"}}
<nav aria-label="breadcrumb" role="navigation">
	<ul class="breadcrumb">
		<li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> 首页</a></li>
		<li class="breadcrumb-item active" aria-current="page">修改密码</li>
	</ul>
</nav>
{{end}}
{{define "Content"}}
	<div class="content">
	  <form action="" class="form-horizontal" method="post" role="form">
        {{$current_password := .form.Field "current_password"}}
        <fieldset class="form-group{{if $current_password.HasErrors}} has-error{{end}}">
          {{$current_password.RenderLabel `class="col-md-2 control-label"`}}
          <div class="col-lg-6">
            {{$current_password.RenderInput `class="form-control"`}}
            {{$current_password.RenderErrors}}
          </div>
        </fieldset>
        {{$new_password := .form.Field "new_password"}}
        <fieldset class="form-group">
          {{$new_password.RenderLabel `class="col-md-2 control-label"`}}
          <div class="col-lg-6">
            {{$new_password.RenderInput `class="form-control"`}}
          </div>
        </fieldset>
        {{$confirm_password := .form.Field "confirm_password"}}
        <fieldset class="form-group">
          {{$confirm_password.RenderLabel `class="col-md-2 control-label"`}}
          <div class="col-lg-6">
            {{$confirm_password.RenderInput `class="form-control"`}}
          </div>
        </fieldset>
		<fieldset class="form-group">
		  <div class="col-lg-offset-2 col-lg-10">
			<button type="submit" class="btn btn-primary">修改密码</button>
		  </div>
		</fieldset>
	  </form>
	</div>
{{end}}

{{define "LeftSide"}}
  {{include "setting/sidebar.html" .}}
{{end}}
{{define "RightSide"}}{{end}}
