{{define "Title"}}FAQ{{end}}
{{define "ContentWidth"}}9{{end}}
{{define "Breadcrumb"}}
<nav aria-label="breadcrumb" role="navigation">
	<ul class="breadcrumb">
		<li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> 首页</a></li>
		<li class="breadcrumb-item active" aria-current="page">FAQ</li>
	</ul>
</nav>
{{end}}
{{define "Content"}}
    <style type="text/css">
        dt {
            margin-bottom: 1em;
        }
    </style>
	<div class="content">
		<dl class="faq">
            <dt><span class="label label-info">Q</span> 网站是用什么数据库的？</dt>
			<dd><span class="label label-success">A</span> 使用MongoDB，既然是NoSQL社区，当然用NoSQL数据库。</dd>

		</dl>
	</div>
{{end}}

{{define "LeftSide"}}{{end}}
{{define "RightSide"}}{{end}}
