{{define "Title"}}首页{{end}}
{{define "Breadcrumb"}}{{end}}
{{define "ContentWidth"}}9{{end}}
{{define "Content"}}
<div class="content">
  <div>
    <h3 class="pull-left">欢迎</h3>
    <ul class="nav nav-tabs pull-right">
      {{if eq .subActive "latestReply"}}
      <li class="nav-item">
        <a class="nav-link active" href="javascript:;">最近回复</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/">最近回复</a>
      </li>
      {{end}}
      {{if eq .subActive "latestCreate"}}
      <li class="nav-item">
        <a class="nav-link active" href="javascript:;">最近发布</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/topics/latest">最近发布</a>
      </li>
      {{end}}
      {{if eq .subActive "noReply"}}
      <li class="nav-item">
        <a class="nav-link active" href="javascript:;">尚未回复</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/topics/no_reply">尚未回复</a>
      </li> 
      {{end}}
    </ul>
  </div>
  <div class="clearfix"></div>
  <dl class="topics">
    {{range .topics}}
    {{$creater := .Creater $.db}}
    {{$node := .Node $.db}}
    <dd>
	  <a href="/user/{{$creater.Username}}" class="pull-left" style="margin-right: 10px;">
        <img class="img-rounded" src="{{$creater.AvatarImgSrc 48}}" alt="{{$creater.Username}}">
      </a>
      {{if .CommentCount}}
      <a class="label label-pill label-default pull-right" href="/p/{{.Id_.Hex}}#.LatestReplyId.Hex">{{.CommentCount}}</a>
      {{end}}
      <a href="/p/{{.Id_.Hex}}" class="title" >{{truncate .Title 80 "..."}}{{if .IsTop}} <span class="fa fa-thumb-tack"></span>{{end}}</a>
      <div class="space"></div>
      <div class="info" style="margin-left:60px">
        <a class="label label-info" href="/node/{{$node.Id}}">{{$node.Name}}</a> •
        <a class="blue-link" href="/user/{{$creater.Username}}">{{$creater.Username}}</a> •
        {{if .CommentCount}}
        {{$latestReplier := .LatestReplier $.db}}
        <time datetime="{{formatdatetime .LatestRepliedAt}}" title="{{formatdatetime .LatestRepliedAt}}">{{formattime .LatestRepliedAt}}</time> • 最后回复来自 <a href="/user/{{$latestReplier.Username}}">{{$latestReplier.Username}}</a>
        {{else}}
        <time datetime="{{formatdatetime .CreatedAt}}" title="{{formatdatetime .CreatedAt}}">{{formattime .CreatedAt}}</time>
        {{end}}
      </div>
      <div class="clear"></div>
    </dd>
    {{end}}
  </dl>
  <hr>
  {{.pagination.Html .page}}
</div>
<div class="card">
  <div class="card-header">
  节点导航
  </div>
  <div class="card-block">
   <div class="card-text">
    {{range .nodes}}
    <a href="/node/{{.Id}}" class="btn">{{.Name}}</a>
    {{end}}
   </div>
  </div>
</div>
{{end}}

{{define "LeftSide"}}{{end}}

{{define "RightSide"}}
<div class="col-md-3  sidebar">
 <div class="card">

	<div class="card-block">
	  {{if .username}}
	  {{.utils.UserInfo .username .db}}
	  <!--
	  {{.utils.News .username .db}}
	  <hr>
	  <a href="/user/{{.username}}/collect?p=1">收藏</a>-->
	  {{else}}
	  <h4><small>致力于打造一个国内NoSQL数据库交流和分享的地方</small></h4>
	  <hr>
	  <div align="center">
		<a href="/signup" class="btn btn-info">注册</a><!-- 或
															<a href="/auth/login" class="btn btn-info">Github登录</a>-->
	  </div>
	  <div class="cleanfix"></div>
	  <div align="center">已注册用户：<a href="/signin">登录</a></div>
	  {{end}}
	</div>
  </div>
  <div class="card" >
    <div class="card-block">
	   <a href="/write" class="btn btn-success btn-lg btn-block" ><i class="fa fa-pencil"></i>提笔写篇文章</a>
    </div>
  </div>
  
  <div class="card" >

   <div class="card-header">
  节点导航
  </div>
   <div class="card-text">
    {{range .nodes}}
	 <ul class="list-group list-group-flush">
        <a href="/node/{{.Id}}" class="btn">{{.Name}}</a>
	 </ul>
    {{end}}
   </div>
  </div>

  <div class="card" >
  {{$ads := ads "frontpage" .db}}
  {{if $ads}}
  <div class="card" id="ads">
    <div class="card-text">
      {{range $ads}}
      {{html .Code}}
      {{end}}
    </div>
  </div>
  {{end}}  
  </div>
  
</div>
{{end}}
