{{define "Title"}}时间线{{end}}
{{define "ContentWidth"}}12{{end}}
{{define "Breadcrumb"}}
<ul class="breadcrumb">
  <li><a href="/"><i class="fa fa-home"></i> 首页</a></li>
  <li class="active">时间线</li>
</ul>
{{end}}
{{define "Content"}}
<link rel="stylesheet" type="text/css" media="all" href="/static/css/timeline.css">
<div class="content main">
  <div class="page-header">
    <h1 style="text-align: center;">社区成长时间线</h1>
  </div>
  <ul class="timeline">
    <li><div class="tldate">2015</div></li>

	<li class="timeline-inverted">
	  <div class="tl-circ"></div>
	  <div class="timeline-panel">
        <div class="tl-heading">
		  <h4>网站改版升级</h4>
		  <p><small class="text-muted"><i class="fa fa-clock-o"></i> 2015-10-02</small></p>
        </div>
        <div class="tl-body">
		  <p>网址从duoyun.org换回nosqldb.org。网站重大改版升级。</p>
        </div>
	  </div>
    </li>

    <li><div class="tldate">2014</div></li>

    <li>
	  <div class="tl-circ"></div>
	  <div class="timeline-panel">
        <div class="tl-heading">
		  <h4>网址换成duoyun.org</h4>
		  <p><small class="text-muted"><i class="fa fa-clock-o"></i> 2014-10-23</small></p>
        </div>
        <div class="tl-body">
		  <p>网址从nosqldb.org换成duoyun.org 。</p>
        </div>
	  </div>
    </li>

	<li><div class="tldate">2013</div></li>

    <li class="timeline-inverted">
	  <div class="tl-circ"></div>
	  <div class="timeline-panel">
        <div class="tl-heading">
		  <h4>网址换成nosqldb.org</h4>
		  <p><small class="text-muted"><i class="fa fa-clock-o"></i> 2013-5-09</small></p>
        </div>
        <div class="tl-body">
		  <p>网站从nosql-db.com换为nosqldb.org。</p>
        </div>
	  </div>
    </li>

    <li><div class="tldate">2012</div></li>

    <li>
	  <div class="tl-circ"></div>
	  <div class="timeline-panel">
        <div class="tl-heading">
		  <h4>NoSQL数据库社区启动</h4>
		  <p><small class="text-muted"><i class="fa fa-clock-o"></i> 2012-11-01</small></p>
        </div>
        <div class="tl-body">
          <p>网址 nosql-db.com 。</p>
		</div>
	  </div>
	</li>
  </ul>
</div>
{{end}}

{{define "LeftSide"}}{{end}}
{{define "RightSide"}}{{end}}
